decorator==4.4.2
flask
Werkzeug
opencv-contrib-python==4.2.0.34
numpy==1.18.5
tensorflow==2.2.2
keras==2.4.3
h5py==2.10.0
argparse
imutils
ipython
matplotlib
pandas
sklearn
scikit-image
tqdm
Keras-Applications